@model IEnumerable<DbLibrary.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<body>
    @*add title and button the add clients  *@
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-8">
            <h1>Manage clients</h1>
        </div>

        <div class="col-md-4 text-end">
            <a class="btn btn-primary" asp-action="Create">
                <i class="fa fa-plus"></i> New client
            </a>
        </div>
    </div>

    @*add search for clients*@
    <form asp-controller="Clients" asp-action="Index">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="SearchNameClient" placeholder="Name client" aria-describedby="button-searchClient">
            <button class="btn btn-primary" type="submit" id="button-searchClient"> <i class="fa fa-search"></i> Search</button>
        </div>
    </form>

    @*table for manager the clients*@
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped d-xl-table clients-table">
            <thead class="table-dark">
                <tr>
                   
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Identification</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="actions"></th>

                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td>@item.ClientName</td>
                        <td>@item.LastName</td>
                        <td>@item.Identification</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td >
                            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ClientId">
                                <i class="fa fa-pen"></i> Edit
                            </a>
                            <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.ClientId"> 
                                <i class="fa fa-eye"></i> Details
                            </a>
                           
                        </td>
                    </tr>

                }


            </tbody>
        </table>

    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

